@page
@model AmirCoffee.Web.Pages.babakModel
@{

}
<!DOCTYPE html>
<html lang="fa">
<head>

    <title>Page Title</title>
</head>
<body style="background-color:#6f4e37;">

    <h1>My First Heading</h1>
    <p>My first paragraph.</p>


    <h2 style="text-align:center">ول کن جهان را قهوه ات یخ کرد </h2>





</body>
</html>
