@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>درباره ما <a href="https://docs.microsoft.com/aspnet/core">میخوام یه برنامه خوب بنویسم</a>.</p>
</div>
