@page
@model AmirCoffee.Web.Pages.ServicesModel
@{
	Layout = "Shared/_MainLayout";
}

<section id="services" >
	<div class="gray">
		<div class="wrap">

			<h2 class="page-title">چه کاری انجام میدهیم؟<span class="border"></span></h2>
			<h3 class="page-subtitle">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</h3>

			<div id="core">

				<ul class="core-values">
					<li>
						<div class="core rotate"></div>
						<i class="fa fa-html5"></i>
						<h4>تکنولوژی روز</h4>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
					</li>
					<li>
						<div class="core rotate"></div>
						<i class="fa fa-laptop"></i>
						<h4>طراحی واکنشگرا</h4>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
					</li>
					<li>
						<div class="core rotate"></div>
						<i class="fa fa-unlock-alt"></i>
						<h4>امنیت و حفاظت</h4>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
					</li>
					<li>
						<div class="core rotate"></div>
						<i class="fa fa-cloud-download"></i>
						<h4>افکتهای زیبا</h4>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
					</li>
					<li>
						<div class="core rotate"></div>
						<i class="fa fa-heart"></i>
						<h4>پارالاکس و طراحی زیبا</h4>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
					</li>
					<li>
						<div class="core rotate"></div>
						<i class="fa fa-search-plus"></i>
						<h4>کاربرد چند منظوره</h4>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
					</li>
				</ul>

			</div>
		</div>
	</div>

	<div class="wrap">
		<div class="touch">
			<h2>برای خرید قالب تمایل دارید ؟</h2>
			<a class="btn anchor" href="http://www.rtl-theme.com/author/wp-developer?aff=wp-developer">همین الان بخرید</a>
		</div>
	</div>

	<div class="testimonial">
		<div class="wrap">

			<i class="fa fa-quote-left"></i>
			<h2 class="page-title">آنچه مشتریان ما می گویند<span class="border"></span></h2>

			<div class="owl">
				<div>
					<strong>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
					</strong>
					<em>`ایران خودرو`</em>
				</div>
				<div>
					<strong>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
					</strong>
					<em>`پنبه ریز`</em>
				</div>
				<div>
					<strong>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
					</strong>
					<em>`پندار سافت`</em>
				</div>
				<div>
					<strong>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
					</strong>
					<em>`شایگان`</em>
				</div>
				<div>
					<strong>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
					</strong>
					<em>`اطلس پورتال`</em>
				</div>
			</div>
		</div>
		<span class="pattern"></span>
	</div>

</section>

<!-- contacts -->
<section id="contacts">
	<div class="contacts-mobile-over"></div>
	<ul class="navigation">
		<li><a href="#" id="zoomin"></a></li>
		<li><a href="#" id="zoomout"></a></li>
	</ul>
	<div style="width:100%;height:640px;">
		<img id="Map-Img" src="./img/map.png" alt="" style="width:100%;height:640px;"></img>
	</div>

	<div class="get-in-touch">
		<h2 class="title-contact-mobile page-title">تماس</h2>
		<form action="php/form.submit.php" method="post" name="contacts">
			<input type="text" name="name" value="" placeholder="نام" spellcheck="false">
			<input type="text" name="email" value="" placeholder="ایمیل" spellcheck="false">
			<input type="text" name="company" value="" placeholder="نام شرکت" spellcheck="false">
			<textarea name="message" placeholder="پیام" spellcheck="false"></textarea>
			<!-- <div class="col"><img src="php/helper.captcha.php" alt="captcha" class="captcha-img"></div>
			<div class="col"><input type="text" name="captcha" value="" placeholder="Securyty code *"></div> -->
			<div class="col"><button type="submit">ارسال</button></div>
		</form>
	</div>
	<div class="text">
		<h2 class="page-title">کجا هستیم؟<span class="border"></span></h2>
		<p class="page-subtitle">تهران سعادت آباد بلوار دریا<br> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>
	</div>
</section>
